:root {
  --black: #303030;
  --white: #f1f1f1;
  --gray: #aaaaaa;
  --primary: #1e0342;
  --secondry: #0e46a3;
  --hover: #9ac8cd;
  --light: #e1f7f5;

  --primary: #001869;
  --light-blue: #00ccff;
  --dark-green: #2e6d56;
  --light-green: #c1dcd3;
}

/* :root {
  --primary: #001869;
  --light-blue: #00ccff;
  --dark-green: #2e6d56;
  --light-green: #c1dcd3;
  --black: #303030;
  --white: #f1f1f1;
  --gray: #aaaaaa;
} */

@font-face {
  font-family: Quicksand;
  src: url(/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: heboo;
  src: url(/fonts/Heebo-VariableFont_wght.ttf);
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}

body {
  background-color: #e1f7f5;
}

/*--------------------------  HOME PAGE --------------------------*/
.home-page {
  position: relative;
  height: 100vh;
  /* background-color: #001869; */
}

.home-page>.home-page-componants {
  background-image: url(/images/icons/light-logo-icon.png);
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/*-------------------------- END of HOME PAGE --------------------------*/

/*--------------------------  NAVIGATION BAR --------------------------*/
/* -------- NAVIGATION TOGGLE ---------- */
* {
  /* outline: 2px solid red; */
}

.ham {
  display: none;
  position: absolute;
  z-index: 99999;
  right: 5%;
  /* top: -10px; */
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(0.8);
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  /* //stroke-dashoffset: -20px; */
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

/* -------- END of NAVIGATION TOGGLE ---------- */

@media (max-width: 1250px) {
  .navigation-bar {
    padding-inline: 4% !important;
    /* background-color: red !important; */
    gap: 10%;
    /* transition: all .5s; */
  }

  .navigation-bar>.links>ul>li>a {
    /* background-color: blue; */
    font-size: 0.9rem;
  }

  .left-container {
    transform: scale(0.8);
    transition: all 0.5s ease;
  }
}

@media (max-width: 980px) {
  .ham {
    display: block;
    position: fixed;
  }

  .visitors-count {
    display: none !important;
  }

  .navigation-bar>.links {
    position: fixed;
    inset: 0 0 0 40%;
    /* right: 0px; */
    /* background-color: #00ccff; */
    width: unset !important;
  }

  /* /////////////////////////////////////////////////////////////////////////////// */
  .navigation-bar>.links>ul {
    /* height: 100vh; */
    position: fixed;
    background-color: red;
    top: 100px;
    justify-content: flex-start !important;
    height: 200vh;
    /* padding-top: 300px !important; */
    flex-direction: column;
    text-align: unset !important;
    padding: min(20vh) 2rem;
    gap: 1.75rem !important;
    background: hsla(0, 0%, 100%, 0.1) !important;
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
  }

  .burger-menu {
    /* display: unset; */
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%) !important;
  }

  .navigation-bar>.links>ul>li>a {
    font-size: 1.25rem !important;
  }

  .navigation-bar {
    padding: 0px !important;
  }
}

@media (max-width: 600px) {
  .logo>a>p {
    display: none !important;
  }

  .left-container {
    align-items: center !important;
    justify-content: center !important;
  }
}

.navigation-bar {
  /* overflow: hidden; */
  z-index: 9999;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  padding-inline: 8%;
  justify-content: space-between;
  align-items: center;
  /* background-color: transparent; */
  height: 90px;
  background-color: white;
}

.burger-menu {
  background-color: red;
  width: 0%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar>.links {
  width: 60%;
  /* padding-top: 20%; */
}

.navigation-bar>.links>ul {
  /* position: absolute; */
  text-align: center;
  font-family: heboo;
  /* position: fixed; */
  /* padding-top: 200px; */
  top: 0px;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  justify-content: space-around;
  list-style: none;
  display: flex;
  /* gap: 3%; */
  width: 100%;
  /* width: fixed; */
  font-size: 1.1rem;
  transition: all 0.5s ease;
  /* padding-block: .50rem; */
  /* background-color: rgb(214, 171, 255); */
}

/* .navigation-bar > ul > li > a:visited {
  
} */
.primary-navigation {
  /* position: relative; */
  /* top: -110px; */
}

.navigation-bar>.links>ul>li {}

.navigation-bar>.links>ul>li>a {
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
}

.navigation-bar>.links>ul>li>a:hover {
  font-weight: bold;
  color: #001869;
  padding: 0px;
  margin: 0px;
  border-bottom: 2px solid #001869;
}

/* left container */
.left-container {
  /* position: relative; */
  display: flex;
  /* align-items: center; */
  /* background-color: #2e6d56; */
  width: 30%;
  gap: 15%;
  height: 30px;
  /* justify-content: center; */
  /* overflow: hidden; */
}

.visitors-count {
  display: flex;
  height: 100%;
  /* width: 100%; */
  gap: 10px;
  /* align-items: center; */
  /* justify-items: center; */
  /* justify-content: space-between; */
  padding-inline: 4%;
  align-items: center;
  background-color: #001869;
  border-radius: 50px;
}

.visitors-count>img {
  height: 70%;
}

.visitors-count>p {
  color: white;
  /* font-size: 100%; */
  font-weight: 900;
  letter-spacing: 2px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo>a {
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo>a>p {
  /* margin-top: 10px; */
  font-size: 1.7rem;
  font-family: heboo, "Times New Roman", Times, serif;
  font-weight: 200;
  /* letter-spacing: 2px; */
}

.logo>a>p>span {
  /* display: inline-block; */
  font-size: 1.8rem;
  font-weight: 900;
  color: #001869;
}

.logo>a>img {
  height: 50px;
  /* margin-bottom: 7px; */
}

/* الكود مخبوص لحد يعس */

/*---------------------  END of NAVIGATION BAR --------------------------*/

/* =============================================about us section ================================================ */
/* about us section */
.about-us-container {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 40px auto;
  border-radius: 20px;
}

.about-us-picture-container {
  flex-basis: 50%;
  max-width: 50%;
  /* background-color: green; */
  /* padding: 20px; */
}

.about-us-picture-container img {
  border-radius: 50px 50px 0 0;
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-us-content-container {
  flex-basis: 50%;
  max-width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.about-us-content-container h2 {
  font-size: 3rem;
  letter-spacing: 5.5px;
  margin: 40px 30px;
  font-family: "Times New Roman", Times, serif;
}

.about-us-content-container h2 span {
  color: var(--light-blue);
}

.about-us-content-container p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 30px 0 20px 25px;
  font-family: "Times New Roman", Times, serif;
}

.about-us-content-container p i {
  font-weight: 700;
}

.about-us-content-container button {
  background-color: var(--black);
  color: var(--light-blue);
  border: none;
  cursor: pointer;
  /* width: 9rem; */
  max-width: 12rem;
  margin: 30px 0 0 22px;
  height: 3rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

.about-us-content-container button:hover {
  background-color: rgb(67, 62, 62);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

/*Standard Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .about-us-picture-container {
    width: 45%;
  }

  .about-us-content-container h2 {
    font-size: 2rem;
    margin: 10px 0;
  }

  .about-us-content-container button {
    width: 8rem;
    height: 2rem;
    font-weight: 400;
    margin: 5px 0 0;
  }

  .about-us-content-container p {
    font-size: 1rem;
    line-height: 1rem;
    margin: 15px 15px 15px 0;
  }

  .about-us-picture-container img {
    width: 100%;
  }

  .about-us-content-container {
    width: 55%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
}

/* Standard Mobile */
@media only screen and (min-width: 375px) and (max-width: 413px) {
  .about-us-container {
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }

  .about-us-picture-container {
    width: 100%;
    max-width: 70%;
    margin: 0;
  }

  .about-us-picture-container img {
    width: 100%;
  }

  .about-us-content-container h2 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    letter-spacing: 3px;
  }

  .about-us-content-container button {
    width: 5rem;
    height: 1.5rem;
    font-weight: 0;
    margin: 5px 0 0 0;
    font-size: 0.6rem;
    letter-spacing: 0;
  }

  .about-us-content-container {
    max-width: 80%;
    padding: 5px 0 0 0;
  }

  .about-us-content-container p {
    font-size: 10px;
    line-height: 15px;
    margin: 0;
    margin-bottom: 9px;
  }
}

/* ===============================End Of About Us Section=================================================  */
a {
  text-decoration: none !important;
  color: #000;
}

img {
  object-fit: cover;
}

/* ======================Professional Styles================================================================================== */
h2.separator {
  padding: 0 80px;
  font-size: 40px;
  margin: 40px 0 10px 0;
}

h2.separator span {
  color: var(--primary);
}

.professional {
  max-width: 90%;
  height: 90%;
  background-color: #f7f7f7;
  padding: 20px 0;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.professional,
.professional .professional-list {
  width: 90%;
  margin: 0 auto;
}

.professional .category {
  width: 90%;
  margin: 20px auto 0;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
  animation: fade-down 0.5s ease forwards;
  opacity: 0;
}

.professional .category img {
  width: 25px;
  height: 30px;
  cursor: pointer;
}

.professional .category a {
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 14px;
  background-color: var(--light-green);
  transition: all 0.3s ease;
}

.professional .category a:hover {
  color: #fff;
  background-color: var(--dark-green);
}

.professional .professional-list {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  gap: 20px;
}

.professional .professional-list .item {
  padding: 20px;
  background: #fff;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fade-up 0.5s ease forwards;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.professional .professional-list .item:hover {
  box-shadow: none;
}

.professional .professional-list .item>img {
  width: 100%;
  height: 150px;
  border-radius: 18px;
}

.professional .professional-list .item .info {
  padding: 12px 0;
  border-bottom: 1px solid #edecec;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: justify;
  overflow: hidden;
}

.professional .professional-list .item .info h3 {
  color: var(--primary);
  font-size: 18px;
  margin-bottom: 25px;
}

.professional .professional-list .item .read-more {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  animation: scale-up-center;
  border-radius: 5px;
}

.professional .professional-list .item .read-more::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--black);
  transition: 0.3s;
}

.professional .professional-list .item .read-more:hover::before {
  width: 100%;
}

.professional .professional-list .item .read-more img {
  width: 30px;
  height: 30px;
}

.professional .professional-list .item .read-more:hover {
  background: var(--light-green);
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ===============================End Of Professional Section=================================================  */

/* ===============================Start Of Footer Section=================================================  */

.footer {
  background: var(--bs-footer-bg, #292838);
  padding: 70px 0 40px;
}

.footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .logo>a {
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .logo p:first-child {
  /* margin-top: 10px; */
  font-size: 1.7rem;
  font-family: heboo, "Times New Roman", Times, serif;
  font-weight: 200;
  /* letter-spacing: 2px; */
}

.footer .logo>p>span {
  /* display: inline-block; */
  font-size: 1.8rem;
  font-weight: 900;
  color: #001869;
}

.footer .footer-social-icon-content .footer-social-icon {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}

.footer .footer-social-icon-content .footer-social-icon:hover {
  color: #fff;
}

.footer .footer-sub-menu li {
  padding: 6px 0;
}

.footer .footer-sub-menu li .footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  transition: all 0.5s;
}

.footer .footer-sub-menu li .footer-link:hover {
  color: #fff;
  margin-left: 5px;
}

.footer-alt {
  background: var(--bs-footer-alt-bg, #23222f);
  padding: 10px 0;
}

.ticker {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

#ticker {
  display: inline-block;
  animation: scrollTicker 15s linear infinite;
}

@keyframes scrollTicker {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* ===============================End Of Footer Section=================================================  */