:root {
  --dark-blue: #001869;
  --light-blue: #00ccff;
  --dark-green: #2e6d56;
  --light-green: #c1dcd3;
  --black: #303030;
  --white: #f1f1f1;
  --gray: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
  color: #000;
}

/* img {
  object-fit: cover;
} */

h2.separator {
  padding: 0 80px;
  font-size: 40px;
  margin-top: 40px;
}

.professional {
  padding: 0 5%;
  margin-top: 30px;
}

.professional .category {
  display: flex;
  gap: 14px;
}

.professional .category a {
  background-color: var(--light-green);
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 14px;
  transition: all 0.3s ease;
}

.professional .category a:hover {
  color: #fff;
  background-color: var(--dark-green);
}

.professional .professional-list {
  padding: 1px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: 40px 0 80px;
  display: flex;
  gap: 30px;
}

.professional-list .item:hover {
  box-shadow: none;
}

.professional-list {
  padding: 0 80px;
  margin: 40px 0 80px;
  display: flex;
  gap: 30px;
}

.professional-list .item {
  background: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  max-height: 500px;
  cursor: pointer;
  gap: 14px;
  padding: 14px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.professional-list .item img {
  width: 30%;
  height: auto;
  padding: 10px;
}

.professional-list .item .info {
  padding: 20px;
}
.professional-list .item .info h3 {
  font-size: 30px;
  padding: 15px 15px 15px 0;
}
.professional-list .item .info p {
  font-size: 18px;
  margin: 8px;
}

.professional-list .item .info a {
  display: inline-block;
  color: var(--dark-blue);
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--light-green);
  color: var(--black);
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.professional-list .item .info a:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

.flex-revers {
  flex-direction: row-reverse;
}

/*=============================================== Media Queries =====================================================*/

/* Laptop & Desktop with Standard Screen */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* Your CSS styles for laptops with standard screens */
}

/* Standard Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h2.separator,
  .professional {
    padding: 0 10%;
  }
}

/* Standard Mobile */
@media only screen and (min-width: 375px) and (max-width: 413px) {
  h2.separator,
  .professional {
    padding: 0 5%;
  }
  .professional-list .item,
  .professional-list .item .info p,
  .professional .category {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  .professional-list .item img {
    width: 100px;
  }
  .professional-list .item .info h3 {
    font-size: 20px;
  }
  .professional-list .item .info a,
  .professional-list .item .info p {
    font-size: 14px;
  }
}
